{% load i18n ct_groups_tags ct_tags %}

<h2>{% blocktrans with res_name="Clinical templates"|site_resource_name %}{{ res_name }}{% endblocktrans %}</h2>
{% if object|resource_access:user %}

	{% if object.clintemplate_set.all %}
		<table class="siteresources">
			<thead>
				<tr><th>{% trans 'Title' %}</th><th>{% trans 'Version' %}</th><th>{% trans 'Status' %}</th></tr>
			</thead>
			<tbody>
	            {% for o in object.clintemplate_set.all %}
					<tr><td><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></td><td>{{o.version}}</td><td>{{ o.PublicationStatus }}{{ o.status }}</td></tr>
	            {% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>- {% trans 'None yet' %} -</p>
	{% endif %}
	{% if object|resource_can_edit:user %}
        <p><a class="action add" href="{% url new-ct object.slug %}">{% blocktrans with res_name="New template"|site_resource_name %}{{ res_name }}{% endblocktrans %}.</a></p>                        
	{% endif %}

{% else %}
    <p>{% trans "Sorry, you don't have access to this group's resources" %}.</p>
{% endif %}

<hr>
