{% extends "base.html" %}
{% load i18n sitevars utils markup ct_groups_tags forms %}

{% block title %}{{ object.name }}: {% trans 'Edit settings' %}{% endblock %}

{% block stylesheet_extra %}
<link rel="stylesheet" href="/static/css/ct_template.css" type="text/css" media="screen, projection">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 0.875em; font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal;}
</style>
{% endblock %}

{% block breadcrumbs %}
  <a href="/">{% trans 'home' %}</a>  &gt;
  <a href="/groups">{% trans 'groups' %}</a>  &gt;
  <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
{% endblock %}


{% block content %}

{% if object|group_access:user %}
    
	<h1>{% blocktrans with object.name as name %}Settings for {{ name }}{% endblocktrans %}</h1>

{% comment %}
{% endcomment %}


<div id="tabs">
    <ul>
        <li><a href="#personal"><span>{% trans "Your settings"%}</span></a></li>
        {% if object|group_edit:user %}
            <li><a href="#group"><span>{% trans "Group settings"%}</span></a></li>
            <li><a href="#membership"><span>{% trans "Group membership"%}</span></a></li>
        {% endif %}
    </ul>

    <!-- PERSONAL SETTINGS -->
    <div id="personal">
    {% if membership %}

        <form name="checkprofile" action="" method="post" class="wider">{% csrf_token %}
             <fieldset>
                <legend><span>{% trans 'Your preferences for this group' %}:</span></legend>
                <ol>
                     {% show_errors membershipform.non_field_errors %}
                     {% for field in membershipform %}
                          {% show_field field "li" %}
                     {% endfor %}
                </ol>
             </fieldset>
             <fieldset class="submit">
                <input type="submit" name="result" value="{% trans 'Save changes' %}"><br>
                <!-- <input type="submit" name="result" value="{% trans 'Cancel' %}"> -->
            </fieldset>
        </form>
    
        {% if not object|group_edit:user or user.is_staff %}
            <p><a class="action" href="{% url leave-group object.id %}">{% trans 'Leave this group' %}.</a></p>
        {% endif %}
    {% else %}
    
        <h2>{% trans 'You are not a member of this group' %}</h2>
    
        <p><a class="action" href="{% url join-group object.id %}">{% trans 'Join this group' %}.</a></p>
        
    {% endif %}
    </div>


    {% if object|group_edit:user %}

    <!-- GROUP SETTINGS -->

    <div id="group">
    
        <form action="{% url group-settings object.slug %}" method="post" class="wider">{% csrf_token %}
            <fieldset>
                <legend><span>{% trans 'Group note' %}:</span></legend>
            <ol><li><textarea name="note" rows="10">{{ object.note }}</textarea></li></ol> 
            </fieldset>

            <fieldset class="submit">
                <input type="submit" name="result" value="{% trans 'Save changes' %}">&nbsp;&nbsp;
            </fieldset>

        </form>
    </div>

    <!-- MEMBERSHIP SETTINGS -->

    <div id="membership">
        {% if object.groupmembership_set.all %}
         {% regroup object.groupmembership_set.all|dictsort:"member_type" by member_type as grouped %}
            {% for group in grouped|order_member_type %}
              <h4>{% trans group.grouper %}</h4>
              <ul class="simpleList">
                    {% for item in group.list|dictsort:"user_last_name" %}
                    
                    <li{% ifequal user item.user %} class="currentitem"{% endifequal %}>
                      
                        {{ item.user.last_name }}, {{ item.user.first_name }}
                        
                        {% if item.status == 'accepted' %}
                            {% ifequal group.grouper item.EDITORS  %}
                                {% if membership.is_manager or user.is_staff %}  -&nbsp;
                                    <form class="inline" action="{{ object.get_absolute_url }}make-manager/{{ item.id }}/" method="post">{% csrf_token %}
                                        <button type="submit" class="link"><span>{% trans 'Make manager' %}</span></button>
                                    </form>
                                {% endif %} -&nbsp;
                                <form class="inline" action="{{ object.get_absolute_url }}remove-editor/{{ item.id }}/" method="post">{% csrf_token %}
                                    <button type="submit" class="link"><span>{% trans 'Remove from editors' %}</span></button>
                                </form>
                            {% else %}
                                {% ifequal group.grouper item.MEMBERS  %} -&nbsp;
                                    <form class="inline" action="{{ object.get_absolute_url }}make-editor/{{ item.id }}/" method="post">{% csrf_token %}
                                        <button type="submit" class="link"><span>{% trans 'Make editor' %}</span></button>
                                    </form> -
                                    <form class="inline" action="{{ object.get_absolute_url }}remove-member/{{ item.id }}/" method="get">{% csrf_token %}
                                        <button type="submit" class="link"><span>{% trans 'Remove from group' %}</span></button>
                                    </form>
                                {% else %}
                                    {% ifequal group.grouper item.MANAGERS  %}
                                        {% if membership.is_manager or user.is_staff %}  -&nbsp;
                                            <form class="inline" action="{{ object.get_absolute_url }}remove-manager/{{ item.id }}/" method="post">{% csrf_token %}
                                                <button type="submit" class="link"><span>{% trans 'Remove from managers' %}</span></button>
                                            </form>
                                        {% endif %}
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}
                        
                        {% else %}
                            {% if item.status == 'pending' %}
                                <strong>{% trans 'Waiting for approval' %}</strong> -
                                <form class="inline" action="{% url moderate-accept object.slug item.id %}" method="post">{% csrf_token %}
                                    <button type="submit" class="link"><span>{% trans 'Accept' %}</span></button>
                                </form> -
                                <form class="inline" action="{% url moderate-refuse object.slug item.id %}" method="post">{% csrf_token %}
                                    <button type="submit" class="link"><span>{% trans 'Refuse' %}</span></button>
                                </form>
                                <div class="info">{{ item.moderation.applicants_text|default:"-"|linebreaks }}</div>
                            {% else %}
                                <strong>refused</strong> -
                                <form class="inline" action="{% url moderate-remove object.slug item.id %}" method="post">{% csrf_token %}
                                    <button type="submit" class="link"><span>{% trans 'Delete' %}</span></button>
                                </form>
                                
                            {% endif %}
                        {% endif %}
                        
                        
                    </li>
                    {% endfor %}
              </ul>
            {% endfor %}
        {% else %}
            <p>- {% trans 'No members yet' %} -</p>
        {% endif %}
        
        {% if object.invitation_set.all %}
            
        <h2>{% trans 'Invitations' %}</h2>
        
        <ul class="simpleList">
            {% for inv in object.invitation_set.all %}
                <li>{{ inv.email }} - {{ inv.get_status_display }}
                    {% if inv.is_accepted %} [{{ inv.accepted_by.get_full_name }}]{% endif %} -
                    <form class="inline" action="{% url invitation-remove object.slug inv.accept_key %}" method="post">{% csrf_token %}
                        <button type="submit" class="link"><span>{% trans 'Delete' %}</span></button>
                    </form>
                </li>
            {% endfor %}
        
        </ul>
        
        {% endif %}
        
        <p><a href="{% url invite-member object.slug %}">{% trans 'Invite a new member' %}</a></p>
        
 
    </div>
    {% endif %}
</div>


{% else %}

    <p>&nbsp;</p>
    <h2>{% trans 'You do not have access to this group' %}.</h2>
    <p>&nbsp;</p>
{% endif %}

{% endblock %}

{% block js-extra %}
<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
{% endblock %}

{% block js-document-ready %}
    var select = 0;
    if (window.location.hash) {
        if (window.location.hash.substring(1) == 'group') { select = 1; }
        else if (window.location.hash.substring(1) == 'membership') { select = 2; }
    }

    $("#tabs").show();
    $("#tabs").tabs({
        selected: select
    });
    $("#tabs-alt").hide();
{% endblock %}




