{% extends "base.html" %}
{% load i18n markup tagging_tags ct_groups_tags comments %}

{% block title %}{{ object.name }}{% endblock %}
{% block breadcrumbs %}
  <p><a href="/">{% trans 'Home' %}</a>  &gt;
  <a href="/groups">{% trans 'Groups' %}</a></p>
{% endblock %}


{% block content %}

<div class="sixteen columns alpha clearfix">
    {% include "ct_groups/ct_groups_group_info.html" %}
    <hr>
</div>
<div class="ten columns alpha">
    {% include "ct_groups/ct_groups_group_resources.html" %}
    {% if object.show_discussion %}
        {% include "ct_groups/ct_groups_group_discussion_posts.html" %}
    {% endif %}
    
</div>
<div class="five offset-by-one columns omega secondary">
    <div class="nav">
        {% include "ct_groups/ct_groups_group_pages.html" %}
    </div>
    <div class="nav">
        {% include "ct_groups/ct_groups_group_members.html" %}        
    </div>
    {% if object.show_discussion %}
        <div class="nav">
            {% include "ct_groups/ct_groups_group_post_comments.html" %}        
        </div>
    {% endif %}

</div>

{% comment %}

{% endcomment %}

{% endblock %}
